<?xml version="1.0"?>
<launch>

    <rosparam command="load" ns="/script_server/base" file="$(find mobina_states)/ros/config/$(env ROBOT)/navigation_goals_oz.yaml"/>
    <rosparam command="load" ns="/script_server/tray" file="$(find mobina_states)/ros/config/$(env ROBOT)/tray_ms_wissenschaft.yaml"/>

    <node pkg="mobina_states" type="oz.py" name="wizard_of_oz" output="screen">
    </node>

</launch>

